html, body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: antiquewhite;
}
main {
    text-align: center;
    width: 100vw;
}
#visning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#visning div {
    background-color:ivory;
    height: 400px;
    width: 300px;
    position: relative;
}
#visning div button {
    position: absolute;
    top: 320px;
    right: 70px;
    left: 70px;
}
.crop-boks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    border: solid black 2px;
    max-height: 160px;
    max-width: 230px;
    overflow: hidden;
}
nav {
    background-color: black;
    display: block;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size:large;
}
nav a:hover {
    background-color: rgb(58, 58, 58);
}