html, body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#liste {
    margin-left: 30px;
}
.bok {
    padding:5px;
}
.bok button {
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
}
.bok button:hover {
    background-color: lightblue;
}