html, body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}
main {
    display: flex;
    justify-content: center;
}
form {
    margin-top:15rem;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

input:user-invalid {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    border: 1px solid red;
}
input:valid {
    border: 1px solid green;
}

fieldset {
    display: flex;
    flex-direction: column;
}