body, html {
    padding: 0;
    margin: 0;
}
body {
    background: repeating-linear-gradient(15deg,#a50000,#ff0000 30px,#0cff49 20px,#00b109 40px);
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sprettboks {
    position: relative;
    width: 60rem;
    height: 40rem;
    border: 2px solid black;
    background-image: url('bg.jpg');
    background-size: cover;
}
#nisse {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
#k-t {
    display: flex;
    justify-content: space-between;
    width: 300px;
}