<!DOCTYPE html>
<html lang="en">
<head>
    {% block topp %}
    <meta charset="UTF-8">
    <title>{% block tittel %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <nav>
        <a href="/">Hjem</a>
        <a href="/mer">Mer om oss</a>
        <a href="/laiver">Laiver</a>
        <a href="/kontakt">Kontakt</a>
    </nav>
    <div id="fane">
        <img src="{{ url_for('static', filename='bg.jpg') }}" width="2300px">
        <h1>{{ self.tittel() }}</h1>
    </div>
    <main>
        <div class="innhold">
            {% block innhold %} {% endblock %}
        </div>
    </main>
    <div id="bunn">
         <p>Org. nr.: 935344719</p>
        <p>© 2025 Omertà. Alle rettigheter reservert.</p>
    </div>
</body>
</html>