{% extends 'base.html' %}

{% block topp %}
    {{ super() }}
    <style type="text/css">
        main {
            display: flex;
            flex-direction: column;
        }
        .seksjon {
            justify-content: center;
            text-align: center;
            margin-top: 30px;
        }
        .episode {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 40px;
            background-color: antiquewhite;
            padding: 30px;
        }
    </style>
{% endblock %}

{% block fane %}
    <img src="{{ url_for('static', filename='both.jpg') }}" width="2300px">
    <h1>Blood of the Highlands</h1>
{% endblock %}


{% block innhold %}
    <div class="seksjon">
        <h2>Hva er BotH?</h2>
        <p>
            Blood of the Highlands inneholder våre største og mest populære laiver. <br>
            Denne populariteten kommer av den interessante settingen og av temaene som dekkes. <br>
            Serien følger det skotske folket gjennom midten av 1700-tallet og dekker <br>
            temaer som opprør, undertrykkelse, familieliv, fattigdom, sosiale forskjeller og tradisjoner. <br>
            De største laivene i serien er "bylaiver". Dette vil si at laivene tar plass i byer der spillerne <br>
            tar opp ulike roller som får bylivet til å gå rundt. For eksempel roller som håndverkere, <br>
            bønder, fiskere, tjenestefolk, kroeiere, prester og annet. Laivene setter vekt på hvordan <br>
            rollen din fungerer i et samfunn med andre.
        </p>
    </div>
    <h1>Laiver i serien:</h1>
    <div class="episode">
        <h2>Episode 1: Town of Cullen</h2>
        <h3>2.-6. juli 2025</h3>
        <p>
            Den 2. juli 1744 ankommer skipet The Wayward Lady den lille korn- og bryggerbyen Cullen på Isle of Skye. <br>
            Med skipet følger rykter om fransk gull fra Normandie og en videre ferd mot Eriskay. <br>
            Dette vekker stort håp hos mange jakobittsympatisører i Cullen. For Kronens lojale er det et varsel. <br>
            Kort tid etter ankommer rødjakkene, sendt nordover i jakten på “arvingen”. <br>
            Spenningen eskalerer raskt da det avsløres at en av seilerne på The Wayward Lady er Charles Edward Stuart, <br>
            også kjent som Bonnie Prince Charlie. Kronens menn møter voldsom motstand. <br>
            Under sammenstøtene blir byens laird skutt og drept av britiske soldater. <br>
            Likevel klarer byens folk å presse styrkene tilbake.
        </p>
        <p>
            Gjennom rødjakken Henry Whitmores handlinger får Kronen tilgang til sensitiv informasjon. <br>
            En større britisk styrke mobiliseres, men før den når frem har Prinsen og hans følge <br>
            forlatt Cullen og seilt mot Eriskay for å samle opprørshæren.
        </p>
        <p>
            Etter flukten blir britiske styrker værende på Isle of Skye i over 16 måneder, <br>
            med jevnlige besøk til Cullen og omliggende områder. Kommandoen ligger hos den beryktede <br>
            løytnant Simonsen, og hans styre er preget av kollektiv avstraffelse. <br>
            Familier som støttet Jakobittene blir straffet. Menn piskes offentlig. Eiendom beslaglegges. <br>
            Gårder brennes, og lojalitet til Prinsen blir behandlet som forræderi.
        </p>
        <p>
            Den 1. november 1745 når represaliene sitt klimaks. Cullen blir brent til grunnen, <br>
            og kjente jakobittsympatisører blir hengt offentlig. Fra denne dagen opphører Cullen å eksistere. <br>
            Innbyggerne blir tvangsforflyttet og drevet mot den nærmeste større byen: Torrin.
        </p>
    </div>
    <div class="episode">
        <h2>Episode 2: Juleselskapet</h2>
        <h3>20. desember 2025</h3>
        <p>
            Den 20. desember 1745 samles Skottlands mektige til juleselskap. <br>
            James Wellesley, Lord of Sandringham, nylig innsatt som Duke og utpekt som Wellingtons representant, <br>
            har invitert adel og landeiere for å sikre lojalitet før han overtar sine skotske besittelser. <br>
            Under besøket blir lairden av Skye skutt og drept av egne tjenere, skjulte jakobittsympatisører. <br>
            Drapet ryster forsamlingen. Ingen er trygge. Opprøret finnes ikke lenger bare i høylandet, men inne i husholdningene. <br>
            Kort tid etter kommer nyheten alle frykter: Prinsen og hans styrker er i bevegelse nordover. <br>
            Festen opphører. Krigsbordet reises. Herrene peker mot én avgjørende slagmark: Culloden.
        </p>
        <p style="font-weight: bold;">Slaget om Culloden</p>
        <p>
            Den 14. april 1746 knuses det fjerde jakobittopprøret på Culloden Moor. Jakobittene som er sultne, <br>
            slitne og feilutrustet blir slaktet av en disiplinert og overlegent bevæpnet britisk hær. <br>
            Slaget varer kort. Etterspillet varer lenge. Sårede blir drept der de ligger. Ingen nåde gis. <br>
            Med Culloden dør det gamle høylandet. <br>
            Prinsen unnslipper, men forsvinner. Ingen vet om han lever, eller om håpet døde med hæren hans.
        </p>
    </div>
{% endblock %}