{% extends 'base.html' %}

{% block topp %}
    {{ super() }}
    <style type="text/css">
        main {
            display: flex;
            flex-direction: column;
        }
        .seksjon {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 30px;
        }
        .episode {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 40px;
            background-color: antiquewhite;
        }
    </style>
{% endblock %}

{% block fane %}
    <img src="{{ url_for('static', filename='both.jpg') }}" width="2300px">
    <h1>Blood of the Highlands</h1>
{% endblock %}


{% block innhold %}
    <div class="seksjon">
        <h2>Hva er BotH?</h2>
        <p>
            Blood of the Highlands inneholder våre største og mest populære laiver. <br>
            Denne populariteten kommer av den interessante settingen og av temaene som dekkes. <br>
            Serien følger det skotske folket gjennom midten av 1700-tallet og dekker <br>
            temaer som opprør, undertrykkelse, familieliv, fattigdom, sosiale forskjeller og tradisjoner. <br>
            De største laivene i serien er "bylaiver". Dette vil si at laivene tar plass i byer der spillerne <br>
            tar opp ulike roller som får bylivet til å gå rundt. For eksempel roller som håndverkere, <br>
            bønder, fiskere, tjenestefolk, kroeiere, prester og annet. Laivene setter vekt på hvordan <br>
            rollen din fungerer i et samfunn med andre.
        </p>
    </div>
    <h1>Laiver i serien.</h1>
    <div class="episode">
        <h2>Episode 1: Town of Cullen</h2>
        <h3>2.-6. juli 2025</h3>
        <p>
            Året er 1744. Cullen var lenge en fredelig by på vestkysten av Skottland. <br>
            Dette endret seg fort ettersom byen ble innlemmet i den større konflikten <br>
            av jakobitt-opprøret. Merkelige skikkelser ankom byen, en båt med flere reisende. <br>
            På båten var det en kaptein, matroser, håndverkere og en merkelig og pompøs adelsmann. <br>
            Det viste seg senere at denne adelsmannen var den berømte skotske prinsen Charles Stuart, <br>
            noe som forklarte hvorfor engelske styrker var interessrt i å innta byen.
        </p>
        <p>
            Samtidig som rødjakker og jakobitter styrte på i byen, var det en annen mystisk fornemmelse <br>
            bryggende blant byens jenter. På den andre dagen var det begynt å bli mye snakk om <br>
            at det var hekser i befolkningen, noe som spesielt presten, Fader Aidan, så på som en stor trussel. <br>
            Engasjement fra Aidan og andre av byens menn førte til en heksejakt, <br>
            eller "fasanjakt" som de kalte det, på natten av den tredje dagen. Resultatet av denne var at <br>
            mange av byens jenter ble pågrepet og anklaget som hekser. Likevel var antallet <br>
            så pass mangt at flere bekymrete ektefeller og brødre gikk sammen for å stoppe noen dom. <br>
            De gjorde dette ved at en liten gruppe ledet av byens laird, Thomas MacLeod, drepte <br>
            presten i byen. Heksene fikk dermed ingen endelig rettssak og fikk gå fri, <br>
            men kanskje vil dette komme fram igjen etter krigens aske legger seg?
        </p>
    </div>
{% endblock %}