{% extends 'base.html' %}

{% block tittel %}Omertà{% endblock %}

{% block topp %}
    {{ super() }}
    <style type="text/css">
        main {
            text-align: center;
        }
        .seksjon {
            margin-top: 50px;
        }
    </style>
{% endblock %}

{% block innhold %}
    <div class="seksjon">
        <p>Omertà er en frivillig forening basert i Bergen som har som formål å skape interaktivt rollespill for ungdom.</p>
        <p>For å gjøre at flest folk kan delta, prøver vi å gjøre arrangementene våre så billig som vi klarer.</p>
    </div>

    <div class="seksjon">
        <h2>Sosiale medier</h2>
        <p>Facebook: <a href="https://www.facebook.com/groups/1130801978795086/" target="_blank">facebook.com/groups/1130801978795086</a></p>
        <p>Discord: <a href="https://www.discord.gg/7qwkQ6UmkF/" target="_blank">discord.gg/7qwkQ6UmkF</a></p>
        <p>Instagram: <a href="https://instagram.com/forening.omerta/" target="_blank">instagram.com/forening.omerta</a></p>
    </div>
{% endblock %}