{% extends 'base.html' %}

{% block topp %}
    {{ super() }}
    <style type="text/css">
        main {
            text-align: center;
        }
        .seksjon {
            margin-top: 50px;
        }
    </style>
{% endblock %}

{% block fane %}
    <img src="{{ url_for('static', filename='bg.jpg') }}" width="2300px">
    <h1>Omertà</h1>
{% endblock %}

{% block innhold %}
    <div class="seksjon">
        <p>Omertà er en frivillig forening basert i Bergen som har som formål å skape interaktivt rollespill for ungdom.</p>
        <p>For at flest folk kan delta, prøver vi å gjøre arrangementene våre så billige som vi klarer.</p>
    </div>

    <div class="seksjon">
        <h2>Hva er laiv?</h2>
        <p>
            Laiv, interaktivt rollespill eller LARP er det å innleve <br>
            seg i en annen verden gjennom improvisasjon, rekvisitter, roller og teaterkunst. <br>
            Det er som å fremføre et teaterstykke uten en forhåndsbestemt slutt, <br>
            imens man både er skuespiller og publikum.
        </p>
    </div>

    <div class="seksjon">
        <h2>Sosiale medier</h2>
        <p>Facebook: <a href="https://www.facebook.com/groups/1130801978795086/" target="_blank">facebook.com/groups/1130801978795086</a></p>
        <p>Discord: <a href="https://discord.gg/FsxytqH8ZX" target="_blank">discord.gg/7FsxytqH8ZX</a></p>
        <p>Instagram: <a href="https://instagram.com/forening.omerta/" target="_blank">instagram.com/forening.omerta</a></p>
    </div>
{% endblock %}