{% extends 'base.html' %}

{% block tittel %}Kontakt oss{% endblock %}

{% block topp %}
    {{ super() }}
    <style type="text/css">
        .innhold h3 {
            font-size: 28px;
            margin-top: 50px;
        }
        .innhold p {
            font-size: 24px;
        }
    </style>
{% endblock %}

{% block innhold %}
    <h3>E-post</h3>
    <p>Hovedsakelig: omerta.forening@gmail.com</p>
    <p>Alternativ: daniel.boenes@gmail.com</p>
    <h3>Telefon (e-post anbefalt)</h3>
    <p>Olsen, D.: +47 401 66 257</p>
{% endblock %}