{% extends 'base.html' %}

{% block topp %}
    {{ super() }}
    <style type="text/css">
        main {
            text-align: center;
            background-color: rgb(34, 34, 34);
        }
        #lenker {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        #lenker a {
            color: white;
            font-size: 40px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-decoration: none;
        }
        #lenker a:hover {
            color: rgb(107, 107, 107);
        }
        #bunn {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block fane %}
    <img src="{{ url_for('static', filename='bg.jpg') }}" width="2300px">
    <h1>Laiver</h1>
{% endblock %}


{% block innhold %}
    <div id="lenker">
        <a href="#">Diverse laiver 2025</a>
        <a href="/laiver/both">Blood of the Highlands</a>
    </div>
{% endblock %}