html, body {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
}
nav {
    background-color: rgb(34, 34, 34);
    display: block;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size:24px;
}
nav a:hover {
    background-color: rgb(58, 58, 58);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fane {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#fane h1 {
    position: absolute;
    font-size: 120px;
    color: white;
}
#fane img {
    object-fit: cover;
    width: 100%;
    height: 600px;
    opacity: 0.6;
}
.innhold {
    margin-top: 10px;
    font-size: 20px;
}
#bunn {
    margin-top: 30px;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: white;
}
#bunn p {
    margin: 5px;
    font-size: 25px;
}