html, body {
    margin: 0;
    padding: 0;
}
.block {
    border: solid black 1px;
}
#grid {
    display: grid;
    width:fit-content;
}
#cards {
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
    width: 60%;
    height:300px;
}
#bars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px black solid;
    width: 60%;
    height:100px;
}
#bars-l {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bars-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#health {
    display: grid;
    width: 60%;
    height: 30px;
    margin-left: 20px;
    border: solid rgb(0, 0, 0) 1px;
}
#progress {
    display: grid;
    width: 60%;
    height: 40px;
    margin-left: 20px;
    border: solid rgb(0, 0, 0) 1px;
}
main {
    display: flex;
    width: 100vw;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}