html, body {
    margin: 0;
    padding: 0;
}
.block {
    border: solid black 1px;
}
#grid {
    display: grid;
    width:fit-content;
}
#cards {
    border: 1px black solid;
    width: 90%;
    height:400px;
}
main {
    display: flex;
    width: 100vw;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}