html, body {
    margin: 0;
    padding: 0;
}
.block {
    border: solid black 1px;
}
#grid {
    display: grid;
    width:fit-content;
}
#cards {
    border: 1px black solid;
    width: 90%;
    height:30%;
}
main {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}