html, body {
    margin: 0;
    padding: 0;
}
.block {
    border: solid black 1px;
}
#grid {
    display: grid;
    width:fit-content;
}
#cards {
    border: 1px black solid;
    width: 60%;
    height:300px;
}
#bars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px black solid;
    width: 60%;
    height:100px;
}
#bars-l {
    display: flex;
    justify-content: center;
    align-items: center;
}
#progress {
    display: grid;
    width: 60%;
    height: 40px;
    margin-left: 20px;
    border: solid gray 1px;
}
main {
    display: flex;
    width: 100vw;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}