body, html {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
}
#visning {
    background-color: white;
    margin-top: 150px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.mening {
    margin-top: 20px;
    max-width: 40rem;
}
.mening h3 {
    margin: 0;
    padding-left: 30px;
}
.mening p {
    text-align: center;
    margin: 8px;
}
